* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* first section */
.firstSection {
    background-color: #FF900E1A;
}

/* navbar */
.navBar {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    /* background-color:#FF900E1A; */
}

.topText {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #131313;
}

.navLink {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
}

.navLink a {
    text-decoration: none;
    color: #424242;
}

.navLink a:hover {
    color: #FF900E;
    transition: 0.3s;
}

/* banner */
.banner {
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
}

.bannerTextOne {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #131313;
    text-align: center;
}

.bannerTextTwo {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #727272;
    text-align: center;
    margin: 10px;
}

.bannerBtn {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
    padding: 15px;
}

.bannerBtn:hover {
    background-color: #131313;
    transition: 0.3s;
}

.bannerImg {
    margin: 20px;
}

/* second section */

.secondSection {
    display: flex;
    align-items: center;
    margin: 50px;

}

.secondSectionImg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 50px;
}

.secondSectionRight {
    margin-left: 50px;
}

.secondSectionText {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #727272;
    margin-top: 10px;
}

.secondSectionBtn {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    background-color: #FF900E;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
}

/* third section */
.thirdSection {
    display: flex;
}

.description {
    margin: 100px;
}

.thirdSectionHead {
    display: flex;
    gap: 10px;
}

.headText {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 45px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #131313;

}

.paragraph {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #727272;
    margin-left: 15px;
}

.card {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 5px;
    border: 5px;
    border-color: gray;
    margin-top: 15px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(76, 26, 255, 0.2);
    cursor: pointer;
}

.cardHead {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #131313;
}

.cardPara {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0%;
    color: #727272;
}
.thirdSectionImg{
    position: relative;     
}

 .lady {
    display: block;
}

.ten {
    position: absolute;
    bottom: 10px;
} 